/******************* body *******************/
*{
    margin: 0;
    padding: 0;
}
/* ********************************   Header   ************************** */
.header-img {
    background-image: url(images/mainimg22.png);
    height: 43rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content{
  width: 85%;
  text-align: center;
  margin: auto;
}
.rightContent ,.icon{
  color: white;
}
a:link {
  color: white;
}
.col-lg-6.logo{
  width: 25%;
}
.col-lg-6.top-social{
  width: 75%;
}

.col-lg-6.logo img{
  height: 5rem;
}
.col-lg-3.col-sm-12{
  padding-top: 1rem;
}
.col-lg-3.col-sm-12 .icon{
  width: 20%;
  float: left;
  margin-right: 1rem;

}
.col-lg-3.col-sm-12 .rightcontent{
  width: 80%;

}
.col-lg-3.col-sm-12 .rightcontent ,h5,h6{
  text-align: left;
}
.col-lg-3.col-sm-12.social-icon{
  padding-top: 1.5rem;
}
/* *******************************  Navbar   *************************** */
.content-navbar{
  padding-left: 1rem;
  padding-right: 1rem;
}
#main-menu li a{
  color: white;
}
.nav-item:hover{
  background: #f58634;
}
.navbar-nav li{
  padding-left:30px;
  padding-right:30px;
}
.container-fluid p{
  display: none;
}
/****************** Main about Content *******************/
.container.main-content{
  width: 60%;
  float: left;
  padding-top: 10px;
}
.transparentButton{
  border: 2px solid white;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: transparent;
}

.transparentButton:hover{
  background-color: #f58634;
  border: 2px solid #f58634;
}

.container.main-content button{
  margin-left: 20px;
  margin-top: 25px;
}
/* ****************Main about Quick Form*************** */

.content.main-about {
  margin-top: 5%;
}
.container.quickform{
  color: white;
}
.quickform-heading{

  text-align: left;
  margin-top: 5%;
}
.quickform-heading h3{
  line-height: 5%;
  margin-bottom: 7%;
  margin-top: 1%;
}
.quickform-heading .lastele{
  margin-bottom: 5%;
}
.quickform input[type="text"] {
  height: 40px;
  border: 1px solid black;
  font-weight: 200;
  width: 305px;
  margin-bottom: 10px;
  padding: 10px;
}
.quickform input[type="tel"] {
  height: 40px;
  border: 1px solid black;
  font-weight: 200;
  width: 305px;
  margin-bottom: 10px;
  padding: 10px;
}
.quickForm select{
  height: 40px;
  border: 1px solid black;
  font-weight: 200;
  width: 305px;
  margin-bottom: 10px;
}
.quickform input[type="checkbox"] {
  float: left;
  margin-top: 2.5%;
}
.quickForm label{
  float: right;
  width: 95%;
}
.checkbox:checked + .formRight{
  color: green;
}
.buttonStyleOrange{
  background-color: #f58634;
  margin: 3% 0 5% 0;
  padding: 7px 25px;
  color: white;
  border: 2px solid #f58634;
}
.buttonStyleOrange:hover{
  background-color:#051424;
  border: 2px solid #f58634;
}


/************************** Director Visison******************** */

.about-Developer{
  padding: 3%;
  margin-bottom: 2rem;
}
.about-Developer h3{
  font-size: 3rem;
  margin-left: 65px;
  color: #f58634;
}
.sir-vision img {
  height :10rem;
  width :13rem;
  padding: 0;
  border-radius: 50%;
}
.sir-vision {
     margin: 1rem;
     height: 10rem;

 }
.sir-img {

   float: left;
   
}
 .sir-content{
     width: 80%;
     height: 10rem;
     float: right;
     padding-top: 2%;
 }

.mam-vision img {
  padding: 0;
  width: 20%;
  height: 10rem;
  float: right;
  border-radius: 50%;
}
 .mam-vision {
      margin: 1rem;
      height: 10rem;

  }

  .mam-content{
      width: 80%;
      height: 10rem;
      float: left;
      padding-top: 2%;
  }
  .sir-name{
    margin-left: 90px;

  }
  .mam-name{
    margin-left: 1150px;
  }

/*************************** imporant courses **************************/
.important-course-head{
  background-image: url(images/mainimg22.png);
  text-align: center;
  padding: 5px;
}
.important-course-head h3{
  font-size: 3rem;
  margin-left: 65px;
  color: white;
}

.Important-course{
  height:100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #79B4B7;
  flex-wrap: wrap;
  background-image: url(images/mainimg22.png);

}

.block{
  height: 30rem;
  width:  30rem;
  background-color: #D4ECDD;
  margin :auto;
  text-align: center;
  margin-bottom: 10px;
  background-image: url(images/mainimg33.png);

}


.imp-img-box img {
  margin-top:10%;
  height: 10rem;
  width: 10rem;
  position: relative;
}

/********************** Cpp, java, DS, Python, Android, FullStack **********************/
.course-navbar{
  /* background-color: #316B83; */

  background-image: url(images/mainimg22.png);

  max-width: 100%;
  max-height: 100%;
  padding-left: 2.4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;


}

.Course-Description{
  padding: 2.4rem;

}
.course-details{
  max-width: 100%;
  max-height: 100%;
  display:flex;
  flex-wrap: wrap;
  padding: 1rem;

}

.course-details-content{
  height: 20rem;
  width:25rem;
  background-color: yellow;
  text-align: left;
}

.course-details-content.color1{
  background-color: #6D8299;
}
.course-details-content.color2{
  background-color: #8CA1A5;
}
.course-details-content h3 {
  margin-top: 2rem;
  margin-left: 2.5rem;
}
.course-details-content ul {
  margin-left: 2.5rem;
}

/* ************************************ Cpp Course ***************************/
.cpp-content-heading h2{
  background-color: white;
  width: 20%;
  display: inline;
  padding: 0 0.5%;
  border-radius: 6rem;
}
.cpp-content-heading{
  margin-top: 1.5%;
}
.cpp-content{
  background-color: white;
  margin-left: 16px;
  width: 97.55%;
  text-align: left;
  padding: 1%
}


/* **********************************courses***********************8 */
#carouselExampleFade{
    background-image: url(images/mainimg22.png);
    padding: 2% 8%;
    height: 25rem;
   
}
#carouselExampleFade h3{
  font-size: 3rem;
  text-align: center;
  color: white;
}
#carouselExampleFade img {
    height: 250px;
    padding: 10%;
    margin-top: 20px;
}


/* **********************************Reviews************************* */
/* .carousel-item{

  text-align: center;

} */
.review-head h3{
  font-size: 3rem;
  text-align: center;
  color: #f58634;
  
}
.carousel-control-prev-icon{
  color: #000000;
}
#Review {
  margin-top: 2%;
  /* padding: 1%; */
}
.student-img {
  height :10rem;
  width :20%;
  margin-right:0;
  float: left;

}


.student-img img{
  height :10rem;
  width :10rem;
  border-radius: 50%;

  position: relative;
  left : 7rem;
}

.student-review {
  height: 10rem;
  width: 80%;
  float: right;
  text-align: center;
  padding: 2%;
  position: relative;
  right : 1rem;
}
#Review .carousel-item{
  padding: 2%;
}

/* ***************************   Footer    ******************************** */
#footer {
  text-align: center;
  padding: 3% 15%;
  height: 7rem;
}
.fab {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.4rem;

}
.fab.fa-instagram-square {
  color: #bd36cf;
}
.fab.fa-instagram-square :hover{
  color: red;
}
.fab.fa-youtube-square {
  color: red;
}
.fab.fa-facebook-square{
  color: rgb(23, 101, 190);
}

/* **********************************   About  **************************************  */
.about-content-heading h2{
  background-color: white;
  width: 20%;
  display: inline;
  padding: 0 0.5%;
  border-radius: 6rem;
}
.about-content-heading{
  margin-top: 1.5%;
}
.about-content{
  background-color: white;
  margin-left: 16px;
  width: 97.55%;
  text-align: left;
  padding: 1%
}
.about-content span{
  color: #f58634;
}




/* ************************************   Contact us   ******************************** */
.contact-body{
  background-image: url(images/mainimg22.png);
  height: 49rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content-contact{
  width: 98%;
  margin-left: 15px;
}
.contact-form{
  /* background-color: rgb(255, 255, 255); */
  margin-top: 10%;
  margin-bottom: 5%;
  /* width: 75%; */
}
div.container.contact-form {
  background-color: #fff;
  margin-top: 3%;
}

.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 11%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.location {
  padding: 1%;
}
.location iframe {
  width: 100%;
}
.row.contact-info {
  margin-top: 1rem;
  text-align: left;
}
.col-md-6.add-icon {
  width: 20%;
  padding-right: 5px;
  padding-top: 5px;
}
.col-md-6.add-icon i {
  float: right;
}
.col-md-6.add-info {
  width: 80%;
  padding: 0;
}

/**************************** Gallery ******************************* */

/* .gallery{
  text-align: center;
}

.gallery img{
  height:  30rem;
  width:25rem;
} */
.gallery-body{
  background-image: url(images/mainimg22.png);
  height: 49rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gallery-container{
  width:100%;
  /* height: 1000px; */
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;

}

.gallery-container .box{
  width: 330px;
  height: 300px;
  /* background-color: red; */
  position: relative;
  margin: 3rem;
  overflow: hidden;
}
.gallery-container .box .img-box{
  overflow: hidden;
}
.gallery-container .box .img-box img{
  position: relative;
  max-width: 100%;
  transition: transform 1s;
  height: 400px;
}

.gallery-container .box:hover .img-box img{
  transform: scale(1.2);
  object-fit: cover;
}

.gallery-container .box .content{
  position: absolute;
  top:40px;
  left: 40px;
  right:10px;
  /* down:10px; */
  background-color: rgba(0,0,0,.8);
  width: 80%;
  height: 80%;
  text-align: center;
  transform: scaleY(0);
  transform: transition 0.5s;
}
.gallery-container .box:hover .content{
  transform: scaleY(1);
}
.gallery-container .box .content p{
  margin-top: 30%;
  color: white;
}
/* *************************************   Online Registration  ************************** */

.OnlineRegis-body{
  background-image: url(images/mainimg22.png);
  height: 49rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.regis-content{
  background-color: white;
  margin-left: 16px;
  width: 97.55%;
  text-align: center;
  padding: 1%

}
.form input[type="text"] {
  height: 40px;
  border: 1px solid black;
  font-weight: 200;
  width: 305px;
  margin-bottom: 10px;
  padding: 10px;
}


@media( max-width : 600px)
{
  .main-about {
    height : 45rem;
  }
  .content{
    width: 100%;
  }
  .socialrm{
    display: none;
  }
  .container-fluid p{
    display: block;
  }

  }
