/* body */
*{
    margin: 0;
    padding: 0;
}

/* Navbar */
.header {
    width: 100;
    background: #2997b3;
}
nav img {
    width: 150px;
    height: 30px;
}
.nav-item:hover{
    background: rgb(231, 230, 171);
    color: aqua;
}


/* click@career photo and info */
.main-image {
    background-image: url("images/Main.jpeg");
    background-image: linear-gradient(rbg(7,9,30,0.7),rbg(7,9,30,0.7));
    filter: blur(8px);
    -webkit-filter: blur(5px);
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .main-text {
  color: black;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  }
  .sir-vision {
      margin: 1rem;
      height: 10rem;

  }
.sir-col1 {
    width: 20%;
    height: 10rem;
    float: left;
    padding-left: 5%;
}
  .sir-col2 {
      width: 80%;
      height: 10rem;
      float: right;
      padding-top: 5%;
  }
  .sir-vision img {
      width: 10rem;
      height: 10rem;
      padding: 2%;
  }
  .mam-vision {
    margin: 1rem;
    height: 10rem;

}
.mam-col1 {
  width: 80%;
  height: 10rem;
  float: left;
}
.mam-col2 {
    width: 20%;
    height: 10rem;
    float: right;
}
.mam-vision img {
    width: 10rem;
    height: 10rem;
    padding: 2%;
}


/* courses */
#carouselExampleFade{
    /* background: #11324D; */
    background-color: #2997b3;
    padding: 8%;
}
img {
    width: 50px;
    height: 200px;
    padding: 10%;
}





